.contact-bg {
  z-index: -9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $secondary-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.contact-info {
  margin-top: 30px;
  margin-bottom: 30px;

  p {
    font-weight: bold;
  }
}

.contact-form {

  input, textarea {
    font-family: 'Roboto Slab', serif;
    font-size: 14px !important;
  }

  textarea {
    height: 300px;
    margin-bottom: 35px;
  }
}
